// div.dog{
//     background-image: url('../img/happy-dogjpg.jpg');
//     height: 400px;
//     width: 100%;
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: ystem-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}


header{

    text-transform: uppercase;

    section.header-content{
        display: flex;
        justify-content: space-around;
    }

    section.jumbo{
        background-image: url('../img/jumbotron.jpg');
        height: 27rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    section.navbar{
        margin-bottom: 4rem;
    }

    section.logo{
        display: flex;
        align-items: space-around;
        justify-content: center;
    }

    nav{
        width: 100%;

        ul{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            li{
                padding: 1rem;

                &.active{
                    background-color: white;
                }
            }
        }
    }
}

footer {

    section.footer-up {
        background-image: url('../img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;

        section.content{
            color: white;
            display: flex;
            width: 50%;
            align-content: flex-start;

            a{
                color: white;
            }
        }

        nav{
            width: calc(100%/5);
            margin-right: 2rem;

            h2{
                margin-bottom: 1rem;
                font-size: 1.5rem;
                text-transform: uppercase;
            }
        }
    }

    section.footer-down{
        display: flex;
        background-color: #303030;
        color: #0282fa;
        justify-content: space-around;

        section.socials{
            display: flex;
        }

        button{
            background-color: #303030;
            border: #0282fa 1px solid;
            color: white;
        }
    }
}


main{
    padding: 4rem;
    text-align: center;
    background-color: #1c1c1c;

    section.book-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        article.book-item{
            width: calc(100% / 6);
            margin-right: 1rem;
            margin-bottom: 2rem;
            background-color:#1c1c1c;
            padding: 2rem;
            color: white;

            .italic {
                font-style: italic;
            }

            .uppercase {
                text-transform: uppercase;
            }

            img{
                width: 100%;
            }
        }
    }
}
